body{
	font-family: 'Chaparral Pro';
	margin: 0;
	padding: 0;
	background: url('img/bg.jpg');
	height:100%;
	background-attachment: fixed;
}

h1, h2, h3{
	color: rgba(0,0,0,0.75);
}

#footer {
	margin-top: 64px;
   width:100%;
   text-align: center;
   height:60px;
   background: rgba(255,255,255,0.4);
	border-top: solid 1px rgba(255,255,255,0.15);
}

#footer span{
	margin: 0 auto;
}

#footer a{
	line-height: 60px;
	color: rgba(0,0,0,0.65);
	margin: 0 1px;
	text-decoration: none;
	font-size: 1.15em;
	background: rgba(255,255,255,0.65);
	padding: 8px;
	width: 160px;
}

#footer a:hover{
	background: rgba(0,0,0,0.75);
	color: #ff9c00;
}

label{
	margin-top: 16px;
	display: block;
}

input[type="submit"]{
	margin: 16px 0;
	min-width: 100px;
}

h2{
	font-weight: normal;
	color: #222;
	margin-top: 0;
}
#header{
	width: 100%;
	height: 100px;
	margin: 0;
	padding: 0;
	background: #ddd;
	background: rgba(255,255,255,0.4);
	border-bottom: solid 1px rgba(255,255,255,0.15);
}

#headerContent{
	width: 960px;
	margin: 0 auto;
}

#header img{
	height: 80px;
	margin: 10px 0;
	float: left;
}

#header img:hover{
	opacity: 0.75;	
}

#searchBar{
	float: left;
	margin-top: 32px;
}

#searchBar form{
	margin: 0;
}

#searchBar input[type=text]{
	width: 300px;
	background: rgba(255,255,255,0.5);
	border: 6px solid rgba(0,0,0,0.65);
	height: 36px;
	margin: 0;
	border-radius: 4px 0 0 4px;
	margin-left: 64px;
}

#searchBar input[type=submit]{
	width: 100px;
	height: 36px;
	margin: 0;
	background: #464646;
	background: rgba(0,0,0,0.5);
	color: #fff;
	border: none;
	font-weight: bold;
	border-radius: 0 4px 4px 0;
	border-left: 1px solid #666;
	cursor: pointer;
}

#searchBar input[type=submit]:hover, #accountSection a:hover{
	background: #333;
	background: rgba(0,0,0,0.75);
	color: #ff9c00;
}
#accountSection{
	float: right;
	width: 260px;
	height: 100px;
}
#accountSection a{
	margin-top: 32px;
	display: inline-block;
	width: 100px;
	height: 36px;
	line-height: 36px;
	background: #464646;
	background: rgba(0,0,0,0.5);
	color: #fff;
	text-align: center;
	text-decoration: none;
	float: right;
}

#accountSection #cartIcon{
	float: left;
	background: none;
	height: 32px;
	width: 32px;	
	position: relative;
}

#accountSection #cartIcon img{
	height: 32px;
	margin: 0;
}

#cartIcon span{
	position: absolute;
	background: rgba(255,156,0,0.5);
	padding: 4px;
	margin: 0;
	line-height: 20px;
	border-radius: 36px;
	width: 20px;
	height: 20px;
	top: -12;
	right: -14;
	color: #fff;
}

#cartIcon span:hover{
	color: #fff;
}

#signUp, #myAccount{
	border-radius: 4px 0 0 4px;
	border-right: 1px solid #666;
}
#logIn, #logout{
	border-radius: 0 4px 4px 0;
}





#container{
	width: 960px;
	margin: 32px auto;
	min-height: 320px;
}

#navSidebar{
	float: left;
	min-height: 320px;
	width: 180px;
}

#navSidebar ul{
	list-style: none;
	margin: 0;
	padding: 0;
	margin-bottom: 16px;
}
#navSidebar a{
	padding-left: 32px;
	text-decoration: none;
	display: block;
	background: #464646;
	background: rgba(0,0,0,0.5);
	color: #fff;
	height: 36px;
	line-height: 36px;
	border-bottom: 1px solid rgba(255,255,255,0.15);
}
#navSidebar a:hover{
	background: rgba(0,0,0,0.75);
	color: #ff9c00;
}

#content{
	float: left;
	min-height: 320px;
	margin: 0 16px;
	width: 534px;
	padding: 16px;
	background: rgba(255,255,255,0.75);
}

#books ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

#books li{
	position: relative;
	display: inline-block;
	width: 164px;
	background: rgba(0,0,0,0.25);
	padding: 0;
	margin: 0;
	margin-right: 17px;
	margin-bottom: 17px;
	text-align: center;
}
#books li:nth-child(3){
	margin-right: 0;
}

#books li img{
	padding-top: 20px;"
	width: 100px;
	height: 150px;
}

#books li a{
	text-decoration: none;
	color: #333;
}

#books li:hover{
	opacity: 0.75;
}

.book span{
	width: 60%;
	margin: 20%;
	position: absolute;
	top: 89px;
	height: 24px;
	line-height: 24px;
	display: block;
	text-align: center;
	background: rgba(255, 0, 0, 0.65);
	color: rgba(255,255,255, 0.95);
	font-weight: bold;
	padding: 8px 0;
}

#promoSidebar{
	display: inline-block;
	min-height: 320px;
	width: 180px;
	background: rgba(0,0,0,0.5);
}


#reviews{
	margin: 32px 0;
}

.review{
	background: rgba(255,255,255,0.75);
	padding: 8px;
	margin-bottom: 16px;
}

.review h2 span{
	display: inline-block;
	width: 125px;
	background: url('img/stars_bg.png');
}

.review p{
	margin: 0;
	font-style: italic;
}

#bookImage, #bookDetails{
	display: inline-block;
	width: 49%;
}
#bookImage {
	text-align: center;
}

#bookDetails{
	float: right;
}


#bookDetails span{
	margin-top: 0;
	margin-bottom: 8px;
	color: rgba(0,0,0,0.5);
	padding-top: 1px;
}

#bookDetails h3{
	font-weight: normal;
	margin-top: 8px;
	margin-bottom: 0px;
	padding-bottom: 2px;
	border-bottom: 1px solid rgba(0,0,0,0.5);
}

#bookDetails h3 span{
	font-size: 0.9em;
	color: rgba(220, 0, 0, 0.95);
}

#bookDetails a{
	display: block;
	width: 90%;
	color: #fff;
	padding: 5%;
	text-align: center;
	background: #fe9b0e;
	text-decoration: none;
	border-radius: 4px;
	margin-top: 16px;
}

#bookDetails a:hover{
	background: #dc8100;
}


.bookItem{
	width: 41%;
	padding: 2%;
	background: rgba(0,0,0,0.05);
	display: inline-block;
	margin: 2%;
	position: relative;
}

.bookItem img{
	width: 30%;

}

.bookItem div{
	width: 65%;
	display: inline-block;
	float: right;
}

.bookItem div p{
	padding: 0;
	margin: 0;
	margin-bottom: 4px;
}

.bookItem a{
	width: 50%;
	margin: 0 auto;
	display: block;
	color: #fff;
	padding: 8px;
	text-align: center;
	background: #fe9b0e;
	text-decoration: none;
	border-radius: 4px;
	bottom: 12px;
	position: absolute;
}

.bookItem a:hover{
	background: #dc8100;
}

#sortBar span{
	margin-right: 8px;
}

#sortBar a{
	top: 2px;
	position: relative;
	opacity: 0.5;
}

#sortBar a:hover{
	opacity: 0.95;
}


#sortBar p{
	width: 132px;
	margin-right: 17px;
	text-align: center;
	background: rgba(0,0,0,0.65);
	padding: 4px 16px;
	line-height: 30px;
	display: inline-block;
	color: rgba(255,255,255,0.75);
}

#sortBar p:nth-child(3){
	margin-right: 0;
}

.searchTerm{
	font-weight: bold;
	font-style: italic;
	margin-top: 32px;
}

#books > h2{
	margin-top: 32px;
}


.cartButton{
	display: inline;
	margin-top: 16px;
	color: #fff;
	padding: 8px;
	text-align: center;
	background: #fe9b0e;
	text-decoration: none;
	border-radius: 4px;
}

.cartButton:hover{
	background: #dc8100;
}

#cartTotal{
	text-align: right;
}

#customers{
	padding: 0;
}

#customers li{
	list-style: none;
	padding: 0;
	margin: 0;
	margin-bottom: 3px;
	display: inline-block;
}

#customers li:nth-child(2){
	margin-right: 0;

}

#customers a{
	width: 256px;
	line-height: 36px;
	height: 36px;
	color: rgba(255,255,255,0.95);
	background: rgba(0,0,0,0.65);
	text-decoration: none;
	display: block;
	padding-left: 8px;
}

#customers a:hover{
	background: rgba(0,0,0,0.75);
	color: #ff9c00;
}


#customerDetails h2{
	margin-bottom: 0;
	padding-bottom: 0;
}

#customerDetails span{
	margin-top: 0;
	padding-top: 0; 
	margin-bottom: 16px;
	color: rgba(0,0,0,0.5);
	display: block;
}

.sale{
	margin: 32px 0;
}

.sale h4{
	margin-bottom: 4px;
	padding: 4px;
	background: rgba(0,0,0,0.45);
	color: rgba(255,255,255,0.65);
	font-weight: normal;
}

.sale h4 span{
	display: inline-block;
	float: right;
}

.sale > span{
	height: 24px;
	line-height: 24px;
	color: rgba(0,0,0,0.95);
	background: rgba(0,0,0,0.1);
	padding: 4px;
	width: 100px;
	width: 50px;
	display: inline-block;
	text-align: center;
}

.sale .title{
	width: 340px;
	text-align: left;
}

.total{
	text-align: right;
	margin-top: 3px;
}

.total span{
	height: 24px;
	line-height: 24px;
	color: rgba(0,0,0,0.95);
	background: rgba(0,0,0,0.1);
	padding: 4px;
	width: 100px;
	width: 50px;
	display: inline-block;
	text-align: center;
}


#promoSidebar h3{
	color: rgba(255,255,255,0.75);
	text-align: center;
	margin-top: 16px;
	margin-bottom: 0;
	font-weight: normal;

}


.promoLink{
	width: 100%;
	position: relative;
}


.promoLink img{
	width: 80%;
	margin: 10%;
}

.promoLink span{
	width: 80%;
	margin: 10%;
	position: absolute;
	bottom: 24px;
	height: 24px;
	line-height: 24px;
	display: block;
	text-align: center;
	background: rgba(255, 0, 0, 0.65);
	color: rgba(255,255,255, 0.95);
	font-weight: bold;
	padding: 8px 0;
}

.promoLink:hover{
	opacity: 0.75;
}


#content input[type="submit"]{
	display: block;
	height: 36px;
	color: #fff;
	padding: 0 16px;
	text-align: center;
	background: #fe9b0e;
	text-decoration: none;
	border-radius: 4px;
	margin-top: 16px;
	border: none;
	cursor: pointer;
}

#content input[type="submit"]:hover{
	background: #dc8100;
}


#content input[type="text"], #content select, #content input[type="password"] {
	height: 32px;
	line-height: 32px;
	padding: 4px;
	border-radius: 4px;
	border: 1px solid #999;
	min-width: 160px;
}

#content label{
	margin-top: 32px;
	margin-bottom: 8px;
	margin-left: 4px;
}