body{
	font-family: 'Chaparral Pro';
	margin: 0;
	padding: 0;
	background: url('img/bg.jpg');
	height:100%;
}

h1, h2, h3{
	color: rgba(0,0,0,0.75);
}

#mainContainer {
   min-height:100%;
   position:relative;
}

#footer {
   position:absolute;
   bottom:0;
   width:100%;
   text-align: center;
   height:60px;
   background: rgba(255,255,255,0.4);
	border-top: solid 1px rgba(255,255,255,0.15);
}

#footer span{
	margin: 0 auto;
}

#footer a{
	line-height: 60px;
	color: rgba(0,0,0,0.65);
	margin: 0 1px;
	text-decoration: none;
	font-size: 1.15em;
	background: rgba(255,255,255,0.65);
	padding: 8px;
	width: 160px;
}

#footer a:hover{
	background: rgba(0,0,0,0.75);
	color: #ff9c00;
}

label{
	margin-top: 16px;
	display: block;
}

input[type="submit"]{
	margin: 16px 0;
	min-width: 100px;
}

h2{
	font-weight: normal;
	color: #222;
	margin-top: 0;
}
#header{
	width: 100%;
	height: 100px;
	margin: 0;
	padding: 0;
	background: #ddd;
	background: rgba(255,255,255,0.4);
	border-bottom: solid 1px rgba(255,255,255,0.15);
}

#headerContent{
	width: 960px;
	margin: 0 auto;
}

#header img{
	height: 80px;
	margin: 10px 0;
	float: left;
}

#header img:hover{
	opacity: 0.75;	
}

#searchBar{
	float: left;
}

#searchBar form{
	margin: 0;
	line-height: 100px;
}

#searchBar input[type=text]{
	width: 300px;
	background: rgba(255,255,255,0.5);
	border: 6px solid rgba(0,0,0,0.65);
	height: 36px;
	margin: 0;
	border-radius: 4px 0 0 4px;
	margin-left: 64px;
}

#searchBar input[type=submit]{
	width: 100px;
	height: 36px;
	margin: 0;
	background: #464646;
	background: rgba(0,0,0,0.5);
	color: #fff;
	border: none;
	font-weight: bold;
	border-radius: 0 4px 4px 0;
	border-left: 1px solid #666;
	cursor: pointer;
}

#searchBar input[type=submit]:hover, #accountSection a:hover{
	background: #333;
	background: rgba(0,0,0,0.75);
	color: #ff9c00;
}
#accountSection{
	float: right;
	width: 240px;
	height: 100px;
}
#accountSection a{
	margin-top: 32px;
	display: inline-block;
	width: 100px;
	height: 36px;
	line-height: 36px;
	background: #464646;
	background: rgba(0,0,0,0.5);
	color: #fff;
	text-align: center;
	text-decoration: none;
	float: right;
}
#signUp, #myAccount{
	border-radius: 4px 0 0 4px;
	border-right: 1px solid #666;
}
#logIn, #logout{
	border-radius: 0 4px 4px 0;
}





#container{
	width: 960px;
	margin: 32px auto;
	min-height: 320px;
}

#navSidebar{
	float: left;
	min-height: 320px;
	width: 180px;
}

#navSidebar ul{
	list-style: none;
	margin: 0;
	padding: 0;
	margin-bottom: 16px;
}
#navSidebar a{
	padding-left: 32px;
	text-decoration: none;
	display: block;
	background: #464646;
	background: rgba(0,0,0,0.5);
	color: #fff;
	height: 36px;
	line-height: 36px;
	border-bottom: 1px solid rgba(255,255,255,0.15);
}
#navSidebar a:hover{
	background: rgba(0,0,0,0.75);
	color: #ff9c00;
}

#content{
	float: left;
	min-height: 320px;
	margin: 0 16px;
	width: 534px;
	padding: 16px;
	background: rgba(255,255,255,0.75);
}

#books ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

#books li{
	display: inline-block;
	width: 164px;
	background: rgba(0,0,0,0.25);
	padding: 0;
	margin: 0;
	margin-right: 17px;
	margin-bottom: 17px;
	text-align: center;
}
#books li:nth-child(3){
	margin-right: 0;
}

#books li img{
	padding-top: 20px;"
	width: 100px;
	height: 150px;
}

#books li a{
	text-decoration: none;
	color: #333;
}

#books li:hover{
	opacity: 0.75;
}

#promoSidebar{
	float: right;
	min-height: 320px;
	width: 180px;
	background: rgba(0,0,0,0.5);
}


#reviews{
	margin: 32px 0;
}

.review{
	background: rgba(255,255,255,0.75);
	padding: 8px;
	margin-bottom: 16px;
}

.review h2 span{
	display: inline-block;
	width: 125px;
	background: url('img/stars_bg.png');
}

.review p{
	margin: 0;
	font-style: italic;
}

#bookImage, #bookDetails{
	display: inline-block;
	width: 49%;
}
#bookImage {
	text-align: center;
}

#bookDetails{
	float: right;
}


#bookDetails span{
	margin-top: 0;
	margin-bottom: 8px;
	color: rgba(0,0,0,0.5);
	padding-top: 1px;
}

#bookDetails h3{
	font-weight: normal;
	margin-top: 8px;
	margin-bottom: 0px;
	padding-bottom: 2px;
	border-bottom: 1px solid rgba(0,0,0,0.5);
}

#bookDetails a{
	display: block;
	width: 90%;
	color: #fff;
	padding: 5%;
	text-align: center;
	background: #fe9b0e;
	text-decoration: none;
	border-radius: 4px;
	margin-top: 16px;
}

#bookDetails a:hover{
	background: #dc8100;
}


.bookItem{
	width: 41%;
	padding: 2%;
	background: rgba(0,0,0,0.05);
	display: inline-block;
	margin: 2%;
	position: relative;
}

.bookItem img{
	width: 30%;

}

.bookItem div{
	width: 65%;
	display: inline-block;
	float: right;
}

.bookItem div p{
	padding: 0;
	margin: 0;
	margin-bottom: 4px;
}

.bookItem a{
	width: 50%;
	margin: 0 auto;
	display: block;
	color: #fff;
	padding: 8px;
	text-align: center;
	background: #fe9b0e;
	text-decoration: none;
	border-radius: 4px;
	bottom: 12px;
	position: absolute;
}

.bookItem a:hover{
	background: #dc8100;
}

#sortBar span{
	margin-right: 8px;
}

#sortBar a{
	top: 2px;
	position: relative;
	opacity: 0.5;
}

#sortBar a:hover{
	opacity: 0.95;
}


#sortBar p{
	width: 132px;
	margin-right: 17px;
	text-align: center;
	background: rgba(0,0,0,0.65);
	padding: 4px 16px;
	line-height: 30px;
	display: inline-block;
	color: rgba(255,255,255,0.75);
}

#sortBar p:nth-child(3){
	margin-right: 0;
}